* {
    box-sizing: border-box;
}

body{
    background-color: hsl(234, 29%, 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px
}

.container{
    height: 500px;
    width: 740px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
}

.formShell{
    width: 430px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribeForm{
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 370px;
    align-items: flex-start;
}

.imgShell{
    width: 280px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.desktopImg{
    width: 350px;
    height: 470px;
}

#title{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}


.perksLi{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 5px;
    width: 100%;
    
}

label{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.submitBtn{
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-size: 12px;
    border: none;
}

span, .perksLi, button, input, input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.perksList{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    
}

.listCheck{
    padding-right: 10px;
}

.emailInput, .submitBtn{
    height: 40px;
    border-radius: 5px;
    width: 100%;
}

.emailInput:hover, .submitBtn:hover{
    cursor: pointer;
}

.submitBtn:hover{
    background-image: linear-gradient(to left, #FF8B1F, #F14167);
    box-shadow: 0px 20px 40px -10px red;
}

.emailInput{
    margin-bottom: 20px;
    margin-top: 5px;
    border: solid .5px lightgrey;
    padding-left: 20px;
}

.error{
    background-color: red;
}

.input-group{
    width: 315px;
}

input::placeholder{
    color: hsl(4, 100%, 67%);
}

.input-group input:not(:focus):invalid{
    border-color: hsl(4, 100%, 67%);
    color: hsl(4, 100%, 67%);
    background: #FFE1DC;
}

.input-group input:not(:focus):invalid .errorMsg{
    opacity: 1;
}

.errorMsg{
    opacity: 0;
    margin-left: 125px;
    font-size: 12px;
}

.errorMsgView{
    opacity: 1;
    color: hsl(4, 100%, 67%);
}

.containerTwo{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 375x;
    width: 375px;
    border-radius: 30px;
}

.successImg{
    width: 54px;
    height: 54px;
}

.successTitle{
    font-family: 'Robot', sans-serif;
}

.successMsg{
    margin-bottom: 30px;
    font-size: 12px;
}

.dismissBtn{
    height: 40px;
    border-radius: 5px;
    background-color: hsl(235, 18%, 26%);
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

.dismissBtn:hover{
    background-image: linear-gradient(to left, #FF8B1F, #F14167);
    box-shadow: 0px 20px 40px -10px red;
}

.hide{
    display: none;
    font-weight: bold;
}

.attribution, .attribution > a {
    color: teal;
}




